<mat-toolbar color="primary" class="mat-elevation-z8">
  <button (click)="drawer.toggle()" mat-icon-button>
      <mat-icon>menu</mat-icon>
  </button>
  <span>Gestion-SlcParcours</span>
  <span class="example-spacer"></span>
  <button routerLink="" mat-button style="margin-left: 20px;"><mat-icon>home</mat-icon>Home</button>
  <button  mat-button><mat-icon>person</mat-icon>Profile</button>


  <button routerLink="input" mat-button style="margin-left: 500px;"><mat-icon>search</mat-icon>search</button>

</mat-toolbar>
<mat-drawer-container autosize style="background-color:rgb(227, 221, 235)" style="background-image: url('https://i.notrefamille.com/1800x0/smart/2021/08/16/mutuelle-sante-famille.jpg');">
  <mat-drawer #drawer opened="true" mode="side" position="start" style="background-color:rgb(54, 68, 119)">
  <mat-nav-list >

      <mat-list-item>
          <button routerLink="/parcours"  mat-button><mat-icon>edit</mat-icon> Parcours</button>
      </mat-list-item>
      <mat-list-item>
          <button routerLink="/souscription" mat-button><mat-icon>edit</mat-icon> Souscription</button>
      </mat-list-item>
      <mat-list-item>
          <button routerLink="/etape" mat-button><mat-icon>edit</mat-icon> Etape</button>
      </mat-list-item>
      <mat-list-item>
          <button routerLink="/question" mat-button><mat-icon>edit</mat-icon> Questions</button>
      </mat-list-item>
      <mat-list-item>
          <button routerLink="/reponse"  mat-button><mat-icon>edit</mat-icon> Reponse</button>
      </mat-list-item>
      <mat-list-item>
        <button mat-button><mat-icon>edit</mat-icon> Assurés</button>
    </mat-list-item>
      <mat-list-item>
          <button routerLink="/conjoint" mat-button><mat-icon>edit</mat-icon> Conjoint</button>
      </mat-list-item>
      <mat-list-item>
        <button  routerLink="/enfant" mat-button><mat-icon>edit</mat-icon> Enfant</button>
    </mat-list-item>

  </mat-nav-list>
  </mat-drawer>
  <mat-drawer-content >
      <div style="text-align: center;min-height: 600px;" ><p>souscription works!</p>
<div class="container" id="main-container">

  <a   class="btn btn-secondary" style="margin-left: 600px;"><mat-icon>add</mat-icon> New</a>

       <table class="table table-striped">
          <thead>
            <tr>
              <th scope="col">id</th>
              <th scope="col">libelle</th>
              <th scope="col">explanation</th>
              <th scope="col">pacours</th>
              <th scope="col">Action</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let sous of etapes" class="col-md-6 col-xl-5">
              <td>{{sous.id}}</td>
              <td>{{sous.libelle}}</td>
              <td>{{sous.explanation}}</td>

              <td>{{sous.parcoursDto.name}}</td>
              <td style="background-color:beige">

                <div class="btn-group btn-group-sm">
                  <button (click)="deleteData(sous.id)"  mat-fab color="primary" aria-label="Example icon button with a delete icon">
                    <mat-icon>delete</mat-icon>
                  </button>
                  <button mat-fab color="primary" aria-label="Example icon button with a delete icon" style="margin-left: 20px;">
                    <mat-icon>edit</mat-icon>
                  </button>
                </div></td>
            </tr></tbody></table></div>


          </div>
        </mat-drawer-content>
      </mat-drawer-container>
